{% load static%}

<div class="footer mt-auto py-3 footer-container">
    <div class="footer-text">Los Sabores De Natalina</div>
    <div class="social-icons">
        <a href="https://api.whatsapp.com/send?phone=56998260954" target="_blank"><i class="fa-brands fa-whatsapp fa-2x"></i></a>
        <a href="https://www.facebook.com/lossaboresdenatalina/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
        <a href="https://www.instagram.com/lossaboresdenatalina/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
    </div>

    contacto: 
    9 9826 0954
    lossaboresdenatalina@gmail.com
</div>