asgiref==3.8.1
certifi==2024.2.2
charset-normalizer==3.3.2
Django==4.2.13
django-mercadopago==6.0.1
django-shopping-cart==0.1
idna==3.7
mercadopago==0.3.5
packaging==24.0
pillow==10.3.0
python-dotenv==1.0.1
requests==2.32.3
setuptools==70.0.0
setuptools-git==1.2
setuptools-scm==8.1.0
sqlparse==0.5.0
tzdata==2024.1
urllib3==2.2.1
wheel==0.43.0
