{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1 align="center" justify="left">¡Bienvenido a nuestra tienda de flan, donde el sabor y la textura se fusionan para ofrecerte una experiencia dulce inigualable!

        Sumérgete en un mundo de deliciosos flanes, cuidadosamente elaborados con los ingredientes más frescos y de la más alta calidad. Desde los clásicos flanes de vainilla y caramelo hasta los más audaces con sabores exóticos, como coco tostado o maracuyá, nuestra variedad satisfará todos los paladares y antojos.
        
        Nuestros flanes son un equilibrio perfecto entre suavidad y firmeza, con una textura sedosa que se derrite en tu boca con cada bocado. Cada porción está cuidadosamente preparada para garantizar una experiencia gastronómica excepcional.
        
        Además de nuestra selección de flanes, también ofrecemos opciones sin azúcar y sin lactosa para satisfacer las necesidades de todos nuestros clientes.
        
        Ya sea que estés buscando un postre para compartir en una celebración especial o simplemente quieras darte un capricho, nuestra tienda de flan es el destino perfecto para los amantes del dulce y los exploradores gastronómicos por igual.
        
        ¡Ven y descubre el placer de los auténticos flanes en nuestra tienda hoy mismo!</h1>
</div>
{% endblock %}