{% extends 'base.html' %}
{%load static%}
<!--sobreescribir para eliminar header-->
{% block header %}
{% endblock %}
{% block content %}
<div class="container my-4">
    <h1 align="center" class="mb-4">Quienes somos</h1>
    <div class="row">
        <div class="col-md-4">
            <img src={% static 'kitchen.jpg' %} class="img-fluid" alt="Vertical Image">
        </div>

        <div class="col-md-8">
            <h3>10 años en el mercado elaborando pastas frescas y salsas con las mejores materias primas. El resultado: Productos de Calidad Gourmet. 
                Vendemos por mayor para que puedas ofrecer a tus clientes una experiencia italiana inigualable.</h3>
            <ul>
                <li>Pastas y Salsas para Veganos.</li>
                <li>Tartas y Dulces.</li>
                <li>Productos para Banquetería</li>
                <li>Y traemos directamente de Italia el mejor café de grano: Maskafé</li>
            </ul>
            <h4>Somos una muy buena alternativa para externalizar procesos, ahorrar mano de obra y ampliar tu oferta de productos.</h4>
        </div>
    </div>
</div>

{% endblock %}