{% extends 'base.html' %}
{%load static%}


{% block header %}
<div class="header-style" style="background: none; text-align: center;">
    <img src="{% static 'logo.png' %}" style="height: 200px;" alt="Logo">
</div>
{% endblock %}

{% block content %}
<div class="container" justify="left" align="center" >
    <h1>Contáctanos</h1>
    <form method="POST" class="row col-md-4 col-lg-8" >
        {% csrf_token %}
        {{form.non_field_errors}}
        {{form.customer_email.label_tag}}   
        {{form.customer_email}}
        {{form.customer_email.errors}}
        <p class="text-warning bg-dark">{{form.customer_email.errors}}</p>
        {{form.customer_name.label_tag}}
        {{form.customer_name}}
        {{form.customer_name.errors}}
        <p class="text-warning bg-dark">{{form.customer_name.errors}}</p>
        {{form.message.label_tag}}
        {{form.message}}
        <p class="text-warning bg-dark">{{form.message.errors}}</p>
        <input type="submit">
    </form>
</div>
{% endblock %}

