{% extends "base.html" %}
{% block content %}

<div class="container mt-4">
    <div class="row justify-content-center">
        {% if flan.is_private and not user.is_authenticated %}
        <div class="col-md-8">
            <p class="text-center">Acceso no permitido</p>
        </div>
        {% else %}
        <div class="col-md-4">
            <img src="{{ flan.image_url }}" class="img-fluid rounded mx-auto d-block" style="max-width: 100%;">
        </div>
        <div class="col-md-8">
            <div class="card border-0 h-100">
                <div class="card-body d-flex flex-column justify-content-between">
                    <div>
                        <h5 class="card-title">{{ flan.name }}</h5>
                        <p class="card-text">{{ flan.description }}</p>
                        <p class="card-text">Precio: ${{ flan.price }}</p>
                    </div>
                    <div>
                        <a href="{% url 'index' %}" class="btn btn-primary align-self-end">Volver al inicio</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    <!-- tres flanes random -->
    {% if not flan.is_private or user.is_authenticated %}
    <div class="row mt-4 mb-4">
        {% for random_flan in random_flans %}
        {% if not random_flan.is_private or user.is_authenticated %}
        <div class="col-md-4 mb-4">
            <div class="card border-0 h-100">
                <img src="{{ random_flan.image_url }}" class="card-img-top" style="height: 200px; object-fit: cover;">
                <div class="card-body text-center">
                    <h5 class="card-title"><a href="/flan/{{ random_flan.id }}/">{{ random_flan.name }}</a></h5>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock %}
