{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">
    <h1>All Coctel Products</h1>
    <div class="row">
        {% for coctel in coctels %}
        <div class="col-md-4 mb-4">
            <div class="card border-0 h-100">
                <img src="{{ coctel.image_url.url }}" class="card-img-top" style="height: 200px; object-fit: cover;">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ coctel.name }}</h5>
                    <p class="card-text">{{ coctel.description }}</p>
                    <p class="card-text">Price: ${{ coctel.price }}</p>
                    <a href="{% url 'coctel_detail' coctel.id %}" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
