{% extends "base.html" %}
{% block content %}

<div class="policy container mt-4">
    <h2>Política de Devolución de Producto y Dinero</h2>
    <p>En Los sabores de Natalina, nos esforzamos por garantizar la satisfacción total de nuestros clientes. 
        Si por alguna razón no estás completamente satisfecho con tu compra, ofrecemos una política de devolución que te permite devolver el producto y 
        recibir un reembolso completo o un cambio por otro artículo.</p>

    <h3>Condiciones de Devolución:</h3>
    <ul>
        <li>Los productos deben devolverse en su estado original, sin abrir y con el empaque intacto.</li>
        <li>Se requiere presentar el recibo de compra o comprobante de pago.</li>
        <li>El período de devolución es de [número de días], a partir de la fecha de compra.</li>
    </ul>

    <h3>Proceso de Devolución:</h3>
    <ol>
        <li>Comunícate con nuestro equipo de atención al cliente para notificar tu intención de devolver el producto.</li>
        <li>Embalaje cuidadosamente el producto y asegúrate de incluir todos los accesorios y documentos originales.</li>
        <li>Envía el producto de vuelta a nuestra dirección de devolución, utilizando un servicio de envío con seguimiento.</li>
        <li>Una vez recibido el producto, nuestro equipo de control de calidad verificará su estado.</li>
        <li>Si se cumplen todas las condiciones de devolución, procederemos a procesar tu reembolso o cambio según lo solicitado.</li>
    </ol>

    <p>Es importante tener en cuenta que los gastos de envío asociados con la devolución del producto correrán a cargo del cliente, 
        a menos que la devolución sea debido a un error nuestro o a un producto defectuoso.</p>

    <p>Para más información sobre nuestra política de devolución, no dudes en ponerte en contacto con nuestro equipo de atención al cliente.</p>
</div>
{% endblock %}