<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Death Empty Words</title>
</head>
<body align="center" class="container">
    <h1>Empty Words - Death</h1>
    <div>
        <img src="https://upload.wikimedia.org/wikipedia/en/e/e3/Symbolic_Album.jpg" alt="" srcset="" align="center">
    </div>
    <pre justify="center">
        <div>
            Ashes and promises
            Share a bond through the winds of change
            Words are blown away
            When visions that should be
            Are tattooed in your mind
            The power to let go is sometimes hard to find
        </div>
        <div>
            The answer cannot be found
            In the writing of others or the words of a trained mind
            In a precious world of memories
            We find ourselves confined
        </div>
        <div>
            Claws so razor sharp
            Ripping at the spirit
        </div>
        <div>
            Promises a potential to hurt, is anything real?
            When forever is to be until
            Deep inside, in the world of empty words...
            No escaping from those haunting empty words...
        </div>
        <div>
            Do you ever feel it? A craving that is so strong
            To by thought rewind in order to find
        </div>
        <div>
            Expectations that shined
            Through the doubt that soon would turn into the price
            Of what a word
            Will be worth when tomorrow comes
            To be and we are left
            Standing on our own and seeing what is real
        </div>
        <div>
            The answer cannot be found
            In the writing of others, or the words of a trained mind
            In a precious world of memories
            We find ourselves confined
        </div>
        <div>
            Claws so razor sharp
            Ripping at the spirit
        </div>
        <div>
            Promises a potential to hurt, is anything real?
            When forever is to be until
            Deep inside, in the world of empty words...
            No escaping from those haunting empty words...
            Empty words...
            Empty words...
        </div>
    </pre>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/iPhOTWUZjgg?si=ipk8-XsXxwRXVo1V"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</body>
</html>