/* colores disponibles #A09DFF celestito
#1F3AAA un azul más intenso #AA83B8 un morado #00A98F agua */

* {
    margin: 0;
    padding: 0;
}


body, html {
    height: 100%;
    margin: 0;
}


.header-style{
    background: #395B50;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-container {
    background: #8EB3A6;
    text-align: center;
    color: white;
    padding: 20px 0;
}

.footer-text {
    color: black;
    margin: 0;
    font-size: 30px;
}

.footer {
    transition: transform 0.3s ease;
}

.hidden-footer {
transform: translateY(100%);
}

.login-style{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.bienvenido{
    text-align: justify;
    color: #00A98F;
    text-transform: capitalize;
}

.card-detail{
    margin: 300px;
}

.carousel-item img {
    object-fit: cover;
    aspect-ratio: 1.91/1;
    height: 400px; /* Set the height to 25% of the viewport height */
    width: 100%;
}

/*test area*/