{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">
    <h1>Nuestros Cocktails:</h1>
    <div class="row">
        {% for coctel in coctels %}
        <div class="col-md-4 mb-4">
            <div class="card border-0 h-100">
                <img src="{{ coctel.image_url.url }}" class="card-img-top" style="height: 200px; object-fit: cover;">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ coctel.name }}</h5>
                    <p class="card-text">{{ coctel.description }}</p>
                    <p class="card-text">Price: ${{ coctel.price }}</p>
                    <a href="{% url 'coctel_detail' coctel.id %}" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <h3>Nuestros productos de pastas y salsas se especializan en ofrecer calidad y frescura incomparables, 
        lo que los convierte en opciones ideales para negocios de restauración y establecimientos comerciales que buscan satisfacer a sus clientes más exigentes. 
        Aquí hay algunas razones clave por las cuales nuestros productos de pastas y salsas se venden exclusivamente al por mayor:</h3>
    <ul>
        <li><h4>Calidad y frescura garantizadas: </h4><h5>Nos comprometemos a utilizar ingredientes frescos y de alta calidad en la elaboración de nuestras pastas y salsas. 
            Al vender al por mayor, podemos mantener un control estricto sobre la calidad y frescura de nuestros productos, asegurando que cada lote cumpla con nuestros estándares 
            premium.</h5></li>
        <li><h4>Optimización de costos: </h4><h5>La producción a gran escala nos permite optimizar nuestros procesos y reducir los costos de producción.
             Esta eficiencia nos permite ofrecer precios competitivos a nuestros clientes mayoristas sin comprometer la calidad de nuestros productos.</h5></li>
        <li><h4>Servicio personalizado:</h4><h5>Al centrarnos en clientes mayoristas, podemos ofrecer un servicio más personalizado y adaptado a las necesidades 
            individuales de cada negocio. Desde opciones de personalización hasta servicios de entrega y atención al cliente dedicada, nos esforzamos por satisfacer 
            las demandas específicas de nuestros clientes mayoristas.</h5></li>
        <li><h4>Alianza estratégica:</h4><h5>Valoramos las relaciones a largo plazo con nuestros clientes mayoristas y trabajamos en estrecha colaboración con ellos 
            para garantizar su éxito. Nuestra filosofía se basa en establecer alianzas estratégicas sólidas y mutuamente beneficiosas que impulsen el crecimiento y la 
            prosperidad tanto para nosotros como para nuestros clientes.</h5></li>
        <li><h4>Enfoque en el mercado profesional:</h4><h5> Reconocemos las necesidades únicas del mercado profesional de alimentos y bebidas, y nos especializamos
             en satisfacer esas demandas. Al vender al por mayor, podemos enfocarnos en atender las necesidades de restaurantes, hoteles, cafeterías, caterings y otros 
             negocios de hostelería que requieren productos de alta calidad en cantidades significativas.</h5></li>
    </ul>

    <h2>En resumen, nuestra decisión de vender exclusivamente al por mayor está respaldada por nuestro compromiso con la calidad, la eficiencia operativa y el servicio al 
        cliente excepcional. Estamos dedicados a proporcionar productos de pastas y salsas excepcionales que ayuden a nuestros clientes a destacarse en un mercado altamente 
        competitivo y en constante evolución.</h2>
</div>

{% endblock %}
